@charset "UTF-8";
/* CSS Document */
*{
padding:0;
margin:0
}

#header{
	font-family: termina, sans-serif;	
}

.title{
    font-size: 14px;
	text-align:left;
	padding-left:195px;
}

.menu ul{
	list-style:none;
	text-align:left;
	padding-left:200px;
	float:left
}
.menu li{
	display:inline-block;
	line-height: 40px;
	width: 120px;
	height: 40px;
	margin-left:-5px;
}
	
.menu2 ul{
	list-style:none;
	text-align:right;
	margin-right:150px;
}

.menu2 li{
	display:inline-block;
	line-height:40px;
	width:120px;
	height:40px;
	margin-left:-5px	
}
.menuu{
	font-family:   "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"sans-serif;
	font-weight:700;
	line-height:1;
	font-size:65px;
	transform: rotate(-90deg);
	padding-left:20px;
	float:left;
	color:#797979
}


#body {

	background-color:#FFFFFF;
	font-family: termina, sans-serif;
}
.tenpage{
 text-align:center;
 font-size:100px;
 text-align:left;
 margin-left:300px;
}

.subtitle{
 font-size: 60px;
 font-family:    Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
 text-align:right;
 margin-right:200px;
 color:#797979;
}

.content{
 font-size:20px;
 text-align:left;
 margin-left:200px;
}

.button{
float:right;
padding-right:910px;
}

#footer{
font-family: termina, sans-serif;
background-color:#FFFFFF;
}
.credits{
text-decoration:none;
padding-left:20px;
float:left;
}
.creditsauthor{
float:left;
padding-left: 50px;
}
.year{
float:right;
padding-right:20px;
}

a:link{color:#000000}
a:hover{color:#AEAEAE}
a:focus {
color:#7C7979;
outline: none;
text-decoration: none;
}
.Play{
grid-area: play;
font-size: 170px;
float:right;
padding-right:200px;
}
